appdirs==1.4.3
decorator==4.0.11
Django==1.10.6
django-extensions==1.7.7
django-graphiql==0.4.4
graphene==1.2
graphene-django==1.2.1
graphql-core==1.0.1
graphql-relay==0.4.5
ipython==5.3.0
ipython-genutils==0.2.0
iso8601==0.1.11
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
promise==1.0.1
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.2.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
traitlets==4.3.2
typing==3.6.1
wcwidth==0.1.7
